<body class="">
  <div class="container-profile-hbs">
    <div class="fondo3 container-user-profile" id="form-evento">
      <!--Aqui va la data(crear evento. editar evento)-->
    </div>
    <div class="container mt-5">
      <h2>Perfil de eventos</h2>
      <a onclick=crearEvento()><button class="purple-btn">Crear un evento</button></a>
      <div>
        <div class="cardContainer d-flex flex-wrap">
          {{#each events}}
            <div class="card m-3" style="width: 18rem;">
              <img
                src="/images/karaoke.jpg"
                class="card-img-top cardImg"
                alt="..."
              />
              <div class="card-body">
                <h4 class="card-title text-body">Evento:{{this.eventName}}</h4>
                <h6 class="card-title text-body">Fecha:{{formatoFecha this.eventDate}}</h6>
                <a href="/user/events/{{this._id}}" class="purple-btn">Detalle del
                  evento</a>
                <br />
                <div class="d-flex mt-2">
                  <!--<a
                    href="/user/edit-event/{{_id}}"
                    class="btn btn-dark"
                  >Editar</a>-->
                  <button
                    onclick="editarEvento('{{formatEvt this.eventName}}','{{parseFechita this.eventDate}}','{{_id}}')"
                    class="btn btn-dark"
                  >Editar</button>
                  <form action="/user/delete/{{_id}}" method="post">
                    <button
                      type="submit"
                      class="btn btn-danger ms-2"
                    >Borrar</button>
                  </form>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</body>

<script src="/js/crear-evento.js"></script>