<body class="">
  <div class="container-profile-hbs">
    <div class="fondo3 container-user-profile" id="form-evento">
      <!--<form action="/user/new-event" method="post">
        <div class="inicio">
          <h1>Datos del evento.</h1>
          <label for="">
            Nombre del evento:
            <input type="text" name="eventName" id="" class="control" />
          </label>

          <label for="">
            Fecha del evento:
            <input
              type="datetime-local"
              name="eventDate"
              id=""
              class="control"
            />
          </label>

          <button type="submit">Crear Evento</button>
        </div>
      </form>-->
    </div>
    <div class="container mt-5">
      <h2>Perfil de eventos</h2>
      <a onclick=crearEvento()><button class="purple-btn">Crear un evento</button></a>
      <div>
        <div class="cardContainer d-flex flex-wrap">
          {{#each events}}
            <div class="card m-3" style="width: 18rem;">
              <img
                src="/images/karaoke.jpg"
                class="card-img-top cardImg"
                alt="..."
              />
              <div class="card-body">
                <h4 class="card-title text-body">Evento:{{this.eventName}}</h4>
                <h6 class="card-title text-body">Fecha:{{formatoFecha this.eventDate}}</h6>
                <a href="/user/events/{{this._id}}" class="purple-btn">Detalle del
                  evento</a>
                <br />
                <div class="d-flex mt-2">
                  <!--<a
                    href="/user/edit-event/{{_id}}"
                    class="btn btn-dark"
                  >Editar</a>-->
                  <a onclick= "editarEvento()" class="btn btn-dark">Editar</a>
                  <form action="/user/delete/{{_id}}" method="post">
                    <button type="submit" class="btn btn-danger ms-2">Borrar</button>
                  </form>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</body>

<script src="/js/crear-evento.js"></script>